img.img-thumbnail {
  height: 160px;
  width: auto;
  background-color: transparent;
  border-radius: none;
  border: none;
}
.methodologies-section {
  background: url(../img/grass-blade-gb.jpg) no-repeat center center scroll;
}
