<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Photo Analytics and Machine Learning">
    <meta name="author" content="Michael Makris">

    <title>photopro.science</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{url_for('static', filename='index/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{url_for('static', filename='index/vendor/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="{{url_for('static', filename='index/css/grayscale.min.css')}}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="{{url_for('overview')}}">
                    <i class="fa fa-play-circle"></i> <span class="light">Start</span> PhotoPro
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#Methodologies">Methodologies</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact Michael</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">PhotoPro</h1>
                        <HR/>
                        <p class="intro-text">Intelligent Photo Analytics<p>
                        <p class="intro-text">Use Machine Learning and Data Science to<br>Choose Your Best Shots</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About PhotoPro.Science</h2>
                <p>PhotoPro is a suite of analytics tools for gaining deeper insight into your photos. Using Machine Learning, its pre-trained and validated models provide intelligent feedback on key metrics for the professional photographer, marketting manager, and amateur alike.</p>
                <p><a href="{{url_for('overview')}}" class="btn btn-default btn-lg">Try PhotoPro Now</a></p>
                <p>PhotoPro is as a capstone project for the<br><a href="http://www.galvanize.com/courses/data-science/" target="_blank">Galvanize Data Science Immersive</a> program in Seattle, May-August 2016.</p>
            </div>
        </div>
    </section>

    <!-- Methodologies Section -->
    <section id="Methodologies" class="methodologies-section text-center">
        <div class="methodologies">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Methodologies</h2>
                    <i class="fa fa-fw fa-user"></i>
                    <p>PhotoPro is relies on Machine Learning to train intelligent models that can understand and predict what makes a successful photo that people want to see.</p>
                    <p>Using thousands of <a href="https://www.flickr.com/" target="_blank">Flickr</a> photos available to the public, and scraping their performance metrics (like total views, comments, tags, etc.) from the <a href="https://www.flickr.com/services/api/" target="_blank">Flickr API</a>, PhotoPro trains its models over many generations. These models are then used to predict similar metrics for any new photo.</p>
                    <a href="{{url_for('overview')}}" class="btn btn-default btn-lg">Learn More About the Models</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Michael</h2>
                <p>PhotoPro is a capstone project by Michael Makris for the<br><a href="http://www.galvanize.com/courses/data-science/" target="_blank">Galvanize Data Science Immersive</a> program. Michael is currently finishing the Data Science program and is looking for for a full-time Data Scienc position.</p>
                <p>Feel free to email, connect on LinkedIn, or find him on GitHub:</p>
                <p><a href="mailto:mpmakris@gmail.com" target="_blank">mpmakris@gmail.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://www.linkedin.com/in/mpmakris" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/MPMakris/Photo_Pro" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://talent.galvanize.com/students/563" class="btn btn-default btn-lg" target="_blank"><span class="network-name">Galvanize Talent</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Map Section -->
    <div id="map"></div>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; PhotoPro.Science 2016</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="../static/index/vendor/jquery/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/index/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkgCZ7bQ0gpFdu9i89mnmxo4aONtiPxmw&sensor=false"></script>

    <!-- Theme JavaScript -->
    <script src="../static/index/js/grayscale.min.js"></script>

</body>

</html>
